dj-rest-auth
django
pre-commit
django-cors-headers
djangorestframework
django-heroku
django-rest-swagger
django-rest-swagger-django3fix
drf-spectacular
faker
psycopg2-binary
gunicorn
dj-database-url
django-allauth
