APScheduler
Django
django-allauth
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-environ
django-heroku
django-rest-swagger
django-rest-swagger-django3fix
django-silk
dj-rest-auth
drf-spectacular
faker
gunicorn
psycopg2-binary
pyjwt
pytest
pytest-django
pytest-drf
pytest-sugar
