dj-rest-auth
django
django-allapip install pre-commituth
django-cors-headers
djangorestframework
django-heroku
django-rest-swagger
django-rest-swagger-django3fix
drf-spectacular
faker
psycopg2-binary
gunicorn
dj-database-url
